.App {
  color: white;
  margin: auto 5%;
}
.d-flex{
  background-color: #4c7bdf;
}

.dropdown-content {
  opacity: 0;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 100vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:black;
  border-radius: 10px;
  visibility: hidden;
  transition: .5s;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.App-logo {
  justify-content: center;
}

.main-image{
  justify-content: center;
  max-height: 100vh;
}
.App-header {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 30px;
}
.tabs{
  display: flex;
  flex-direction: row;
  font-size:15px;
}
h1 {
  display: inline;
}
.tabs li {
  list-style: none;
}
li {
  flex-grow: 1;
}

.card {
  color: black;
}
/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
