form {
  max-width: 600px;
}

a,
a:hover {
  color: #333132;
}
.dropdown-content {
  opacity: 0;
  position: absolute;
  right: 0%;
  background-color: #f9f9f9;
  max-width: 100vw;
  min-width: 40vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: black;
  border-radius: 10px;
  visibility: hidden;
  transition: 0.5s;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
}
.dropdown {
  display: inline-block;
  /* static so dropdown-content is relative to entire header row */
  position: static;
}

.main-image {
  max-height: 80vh;
  max-width: 60vw;
}
.hero {
  min-height: 80vh;
}
.tabs {
  position: relative;
  flex-direction: row;
  font-size: 15px;
}

h1 {
  display: inline;
}
.tabs li {
  list-style: none;
}
li {
  flex-grow: 1;
}

.card {
  flex: 1 1 0px;
}
.card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#footer {
  background-color: #fff;
}
.tabs-m {
  display:none;
}
.cards {
  flex: 1 1 0px;
}
@media screen and (max-width: 600px) {
  .tabs {
    display: none;
  }
  .tabs-m{
    display: flex;
  }
  .cards {
    flex-direction: column;
  }
  .hero {
    min-height: auto;
  }
  .main-image {
    display:none;
  }
  .free{
    display:flex;
    width: 100vw;
    justify-content: center;
  }
}
